.links a{
    padding-left: 20px;
    text-decoration: none;
    color: #55ACEE;
    padding-bottom: 10px;
}

.links a:hover{
    color: #FF9900;
}

.links{
    padding-top: 2%;
    font-size: 20px;
    padding-left: 90%;
}

.header{
    height: 100px;
    background: #55ACEE;
    background: -webkit-radial-gradient(#55ACEE, #30648C);
    background: -o-radial-gradient(#55ACEE, #30648C);
    background: -moz-radial-gradient(#55ACEE, #30648C);
    background: linear-gradient(#30648C, #30648C);
    padding-bottom: 15px;
}

.header h1{
    font-size: 45px;
    margin-top: 0px;
    display: flex;
    float: left;
    padding-left: 100px;
    padding-top: 30px;
}