.web, .git{
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}
.web:hover, .git:hover {
    transition: 0.3s ease;
    cursor: pointer;
    color: #FF9900;
}

.proPhoto {
    width: 30%;
}